.cart-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* Ajustez la largeur du modal selon vos besoins */
  width: 100%;
  max-height: 80vh; /* Définissez une hauteur maximale pour permettre le défilement */
  overflow-y: auto; /* Ajoutez la barre de défilement verticale si nécessaire */
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  height: 70px;
  margin-right: 10px;
}

.cart-item-text {
  flex-grow: 1;
}
