.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px; /* Espace entre les produits */
}

.cartbtn {
  width: 100%;
  padding-bottom: 0px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* Couleur de fond gris clair */
  border: 1px solid #e0e0e0; /* Bordure légère */
  padding: 4px; /* Correction de la propriété mal écrite */
  border-radius: 6.28px; /* Coins arrondis */
  cursor: pointer; /* Définir le curseur comme une main */

  /* Style pour la couleur de fond jaune */
  &:hover {
    background-color: rgb(181, 235, 230);
  }

  img {
    width: 100%; /* La largeur de l'image remplit le conteneur */
    height: auto; /* La hauteur est ajustée proportionnellement */
  }

  .content {
    flex: 1; /* Permet au contenu de prendre l'espace disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    padding: 10px; /* Ajoute un espace autour du contenu */
    margin-bottom: 0;
  }

  p {
    margin: 0; /* Supprime la marge autour du texte */
  }

  .price {
    font-weight: bold; /* Texte en gras */
    font-size: 13px; /* Taille de police personnalisée */
  }

  /* Définir une hauteur minimale pour les éléments .product-card */
  height: 100%;
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    height: auto; /* Ajuster la hauteur automatiquement pour s'adapter au contenu */
    padding-bottom: 0px;
  }
}
