.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Espace entre les produits */
}

.cartbtn {
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* Couleur de fond gris clair */
  border: 1px solid #e0e0e0; /* Bordure légère */
  padding: 10px;
  border-radius: 6.28px; /* Coins arrondis */

  cursor: pointer; /* Définir le curseur comme une main */

  /* Style pour la couleur de fond jaune */
  &:hover {
    background-color: rgb(181, 235, 230);
  }

  img {
    width: 100%; /* La largeur de l'image remplit le conteneur */
    height: auto; /* La hauteur est ajustée proportionnellement */
  }

  p {
    margin: 0; /* Supprime la marge autour du texte */
  }
  .price-and-button {
    font-weight: bold; /* Texte en gras */
    font-size: 13px; /* Taille de police personnalisée */
    margin-top: auto; /* Aligne le bouton en bas de la carte */
  }
  /* Définir une hauteur minimale et une largeur fixe pour les éléments .product-card */
  min-height: 300px; /* Exemple de hauteur minimale */
  min-width: 200px; /* Exemple de largeur fixe */
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
