.product-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* ajustez selon votre préférence pour l'espace entre les éléments */

  /* Ajoutez une media query pour les petits écrans */
  @media (max-width: 767px) {
    grid-template-columns: 1fr; /* Passe à une seule colonne pour les petits écrans */
  }
}

.product-details > div {
  text-align: center; /* Centre le contenu dans chaque cellule de la grille */
}

.product-details img {
  width: 100%; /* Occupe 100% de la largeur du conteneur */
  height: auto; /* Ajuste automatiquement la hauteur pour conserver les proportions */
}

.product-details p {
  margin: 8px 0; /* Ajoutez une marge en haut et en bas pour un espacement agréable */
}

//inutil de redéfinir cart-modal car le modal est dans le même conteneur que celui apparaissant à partir de ventes-en ligne (on est toujours parmi les "enfants" de celui-ci)
/* .cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; 
} */
