/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/Madagascar-Satellite-Map-378x550.png') no-repeat center top;
  background-size: contain;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
  font-size: 24px; /* Taille du texte */
  white-space: nowrap; /* Empêche les sauts de ligne */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
